* {
  font-family: $regular_font;
  @include boxSizing;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--theme_bg_clr);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--main_theme_clr);
    border: 2px solid var(--theme_bg_clr);
    border-radius: 15px;
  }
}

// input:-webkit-autofill,
// input:-webkit-autofill:focus {
//     transition: background-color 100000000s 0s, color 100000000s 0s;
// }

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//     -moz-box-shadow: 0 0 0 30px rgba(0,0,0, 0) inset !important;
//     -o-box-shadow: 0 0 0 30px rgba(0,0,0, 0) inset !important;
//     -webkit-box-shadow: 0 0 0 30px rgba(0,0,0, 0) inset !important;
//     box-shadow: 0 0 0 30px rgba(0,0,0, 0) inset !important;
// }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.iziToast-wrapper {
  .iziToast-capsule {
    .iziToast {
      padding-block: 15px;
      // background: #ebebeb;
      // border-color: #ebebeb;
      border-radius: 12px;
      overflow: hidden;
      &.custom_error  {
        box-shadow: inset 0 -10px 20px -10px rgb(255 0 0 / 20%), inset 0 0 5px rgb(199 0 0 / 10%),;
      }
    }
  }
}

// Start:: Ant Design Components Global Styling
.ant-notification {
  span {
    .ant-notification-notice {
      margin-block: 5px;
      padding: 10px 10px;
      border-radius: 6px;
      .ant-notification-notice-content {
        .ant-notification-notice-with-icon {
          .ant-notification-notice-icon {
            top: 50%;
            transform: translateY(-50%);
          }
          .ant-notification-notice-message {
            margin-inline-start: 48px;
            margin-bottom: 0;
            font-size: 15px;
          }
        }
      }
      .ant-notification-notice-close {
        top: 5px;
        right: 12px;
      }
      &.error_toast {
        background: var(--soft_red_clr);
        border: 1px solid var(--mid_red_clr);
        box-shadow: 0 0 12px rgba(255, 87, 87, 0.233);
        .ant-notification-notice-content {
          .ant-notification-notice-with-icon {
            .ant-notification-notice-icon {
              color: var(--mid_red_clr);
            }
            .ant-notification-notice-message {
              color: var(--mid_red_clr);
            }
          }
        }
      }
      &.success_toast {
        background: var(--soft_green_clr);
        border: 1px solid var(--mid_green_clr);
        box-shadow: 0 0 12px rgba(87, 255, 137, 0.233);
        .ant-notification-notice-content {
          .ant-notification-notice-with-icon {
            .ant-notification-notice-icon {
              color: var(--mid_green_clr);
            }
            .ant-notification-notice-message {
              color: var(--mid_green_clr);
            }
          }
        }
      }
      &.warning_toast {
        background: var(--soft_yellow_clr);
        border: 1px solid var(--mid_yellow_clr);
        box-shadow: 0 0 12px rgba(255, 244, 87, 0.233);
        .ant-notification-notice-content {
          .ant-notification-notice-with-icon {
            .ant-notification-notice-icon {
              color: var(--mid_yellow_clr);
            }
            .ant-notification-notice-message {
              color: var(--mid_yellow_clr);
            }
          }
        }
      }
    }
  }
}
// End:: Ant Design Components Global Styling