.footer_content_wrapper {
  padding-block: 40px 10px;
  background-color: var(--lighter_gray_clr);
  .logo_wrapper {
    @include flexStartAlignment;
    img {
      width: 75%;
      height: auto;
    }
  }

  .powered_by_content {
    margin-top: 25px;
    color: var(--light_gray_clr);
    font-size: 16px;
    img {
      filter: contrast(0);
    }
    a {
      color: var(--main_theme_clr);
      font-family: $medium_font;
    }
  }

  .routes_wrapper {
    .routes_title {
      margin-bottom: 15px;
      color: var(--theme_text_clr);
      font-style: italic;
      font-size: 18px
    }
    .footer_routes_list {
      @include verticalFlexStartAlignment;
      justify-content: space-between;
      .footer_route {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        a {
          color: var(--light_gray_clr);
          font-size: 16px;
          transition: color 0.4s linear ;
          &:hover,
          &.nuxt-link-exact-active {
            color: var(--main_theme_clr);
          }
        }
      }
    }
  }

    .subscribe_form {
      .form_title {
        margin-bottom: 10px;
        color: var(--theme_text_clr);
        font-style: italic;
        font-size: 18px
      }
      .subscribe_form_wrapper {
        @include flexStartAlignment;
        align-items: stretch;
        height: 55px;
        min-width: 300px;
        border-radius: 10px;
        border: 1px solid var(--border_clr);
        background-color: var(--white_clr);
        overflow: hidden;
        input {
          padding-block: 0;
          border: none;
          outline: none;
          box-shadow: none;
          background-color: transparent;
          color: var(--light_gray_clr);
        }
        .submit_btn {
          padding-inline: 12px;
          background-color: var(--main_theme_clr);
          border-radius: 10px;
          color: var(--white_clr);
          @include flexCenterAlignment;
        }
      }
    }

    .download_app_section_wrapper {
      .download_section_title {
        margin-block: 20px 10px;
        color: var(--theme_text_clr);
        font-style: italic;
        font-size: 18px
      }
      .download_links_wrapper {
        @include flexStartAlignment;
        column-gap: 25px;
      }
    }

    .social_platforms_links_wrapper {
      margin-top: 55px;
      padding-block: 25px 35px;
      border-top: 1px solid #e9e9e9;
      @include flexCenterAlignment;
      column-gap: 50px;
      .social_media_link {
        color: var(--light_gray_clr);
        font-size: 30px;
        transition: all 0.3s linear;
        &:hover {
          color: var(--main_theme_clr);
          transform:  scale(1.2);
        }
      }
    }
}

@media (max-width: 850px) {
  .footer_content_wrapper {
    padding-top: 15px;

    .logo_wrapper {
      justify-content: center;
      img {
        width: 45%;
      }
    }

    .powered_by_content {
      margin-top: 15px;
      font-size: 14px;
      text-align: center;
    }

    .routes_wrapper {
      display: none;
    }

    .subscribe_form {
      .form_title {
        font-size: 16px;
        text-align: center;
      }
    }

    .download_app_section_wrapper {
      .download_section_title {
        font-size: 16px;
        text-align: center;
      }
      .download_links_wrapper {
        justify-content: center;
        column-gap: 35px;
      }
    }

    .social_platforms_links_wrapper {
      display: none;
    }
  }
}
